<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1056" key="d4b1ad44-1353-46ff-aeca-b5f4a9da692e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2020-06-30T17:58:03" updateDate="2020-06-30T17:58:14" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1054" creatorName="setup" writerName="setup" writerID="0" template="1052" nodeTypeAlias="home">
    <content id="1057" key="8f0b8323-8c59-4efd-8662-6bdcbf03e318" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2020-06-30T18:10:45" updateDate="2020-07-01T21:44:17" nodeName="Generic" urlName="generic" path="-1,1056,1057" isDoc="" nodeType="1055" creatorName="setup" writerName="setup" writerID="0" template="1053" nodeTypeAlias="content">
      <subtitle><![CDATA[It is a wow!]]></subtitle>
      <pageTitle><![CDATA[Amazing stuff]]></pageTitle>
      <mainImage><![CDATA[umb://media/9a719b7a9a0b4d4393c853caaf777378]]></mainImage>
    </content>
  </home>
</root>