<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1056" key="d4b1ad44-1353-46ff-aeca-b5f4a9da692e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2020-06-30T17:58:03" updateDate="2020-06-30T17:58:14" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1054" creatorName="setup" writerName="setup" writerID="0" template="1052" nodeTypeAlias="home" />
</root>