@inherits UmbracoViewPage

@{ 
    IPublishedContent homePage = Umbraco.AssignedContentItem.AncestorOrSelf("home");
    IEnumerable<IPublishedContent> navigationPages = homePage.Children(x => x.IsVisible());
}

<header id="header">
    <nav>
        <ul>
            <li><a href="#menu">Menu</a></li>
        </ul>
    </nav>
</header>
<nav id="menu">
    <h2>Menu</h2>
    <ul class="links">
        <li><a href="/">Home</a></li>
        @if (navigationPages != null && navigationPages.Count() > 0)
        {
            foreach (IPublishedContent page in navigationPages)
            {
                <li><a href="@page.Url">@page.Name</a></li>
            }
        }
    </ul>
    <ul class="actions stacked">
        <li><a href="#footer" class="button fit primary">Contact</a></li>
        @*<li><a href="#" class="button fit">Log In</a></li>*@
    </ul>
</nav>