@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";

    string mainImageUrl = "";

    if (Model.Content.HasValue("mainImage"))
    {
        mainImageUrl = Model.Content.GetPropertyValue<IPublishedContent>("mainImage").Url;
    }
}

<section id="main" class="wrapper style1">
    <div class="inner">
        <header class="major">
            <h1>@Umbraco.Field("pageTitle", altFieldAlias: "pageName")</h1>
            <p>@Umbraco.Field("subtitle")</p>
        </header>
        <span class="image main"><img src="@mainImageUrl" alt="" /></span>
        @Umbraco.Field("mainContent")
        @{ Html.RenderPartial("Content/_ImageList"); }
    </div>
</section>


