@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
}

<section id="main" class="wrapper style1">
    <div class="inner">
        <header class="major">
            <h1>@Umbraco.Field("pageTitle", altFieldAlias: "pageName")</h1>
            <p>@Umbraco.Field("subtitle")</p>
        </header>
        @{ Html.RenderAction("RenderNewsList", "News", new { itemsToShow = 4 });}
        @*@{Html.RenderAction("RenderNewsList", "News"); }*@
    </div>
</section>


