@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE HTML>

<html>
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="is-preload">

    <!-- Header -->
    <!-- Menu -->
    @{ Html.RenderPartial("SiteLayout/_MainNavigation");}

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Intro -->
        @RenderBody()
        <!-- Footer -->
        @{ Html.RenderPartial("SiteLayout/_Footer");}

    </div>

    <!-- Scripts -->
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/browser.min.js"></script>
    <script src="/scripts/breakpoints.min.js"></script>
    <script src="/scripts/util.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/contactForm.js"></script>

</body>
</html>

